<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <form method="get">
        {{filtro.form}}
        <button type="submit">Filtrar</button>
    </form>
    
    <ul>
    
    {%for livro in filtro.qs %}
        <li>{{livro.titulo}}</li>
        <li>{{livro.autor}}</li>
        <li>{{livro.data_de_publicacao}}</li>
    {% empty %}
        <li>Nenhum produto encontrado</li>
    {% endfor %}

    </ul>

</body>
</html>