<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>livro</h1> 

    <a href="{%url 'criar_livro'%}">Criar um livro novo</a>

   <ul>
    {% for livro in livros %}
        <li>
            Livro: {{ livro.titulo }} <br>
            Autor: {{ livro.autor }} <br>
            Data de publicação: {{ livro.data_de_publicacao }} <br>

            <a href="{% url 'excluir_livro' livro.pk%}">Excluir Livro</a>
            <a href="{% url 'atualizar_livro' livro.pk%}">Editar livro</a>
        </li><br>
    {% endfor %}
</ul>


</body>
</html>