<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   <form action="" method="POST">

        {% csrf_token %}
        {{ form.as_p }}

    <button type="submit">Logar</button>


    <!--AQUI basicamente retornará um erro caso não der certo o login-->
    {% if form.errors %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    </form>


</body>
</html>