<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

<form method="POST">
    {% csrf_token %} <!--PARA SEGURANÇA DO FORM-->

    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" id="descricao">
    
    <label for="status">Status:</label>
    <select name="status" id="status">
        
        <option value="PENDENTE">PENDENTE</option>
        <option value="CONCLUIDA">CONCLUIDA</option>
        <option value="A FAZER">A FAZER</option>
    </select>

    <button type="submit">Adicionar Tarefa</button>
</form>



</body>
</html>